In [61]:
import pandas as pd

In [62]:
#Utilizaremos este archivo como muestra para la limpieza en general
df = pd.read_csv("../raw/Aves/Avistamientos_y_region/vis_2015.csv")
df.head(5)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory,errors,region
0,whshil1,White-sided Hillstar,Oreotrochilus leucopleurus,L3247303,phm,2015-01-01 20:30,1.0,-31.784164,-70.536299,True,False,True,S21135098,NaN,NaN,Coquimbo
1,bkbsht1,Black-billed Shrike-Tyrant,Agriornis montanus,L3247303,phm,2015-01-01 20:30,1.0,-31.784164,-70.536299,True,False,True,S21135098,NaN,NaN,Coquimbo
2,yersis1,Yellow-rumped Siskin,Spinus uropygialis,L3247303,phm,2015-01-01 20:30,2.0,-31.784164,-70.536299,True,False,True,S21135098,NaN,NaN,Coquimbo
3,gyhsif1,Gray-hooded Sierra Finch,Phrygilus gayi,L3247303,phm,2015-01-01 20:30,3.0,-31.784164,-70.536299,True,False,True,S21135098,NaN,NaN,Coquimbo
4,yebpin1,Yellow-billed Pintail,Anas georgica,L2973546,Desembocadura del estero culebron,2015-01-01 19:40,3.0,-29.959684,-71.321301,True,False,True,S21127799,NaN,NaN,Coquimbo

In [63]:
df["exoticCategory"].unique()

array([nan, 'N', 'X'], dtype=object)

La columnas "exoticCategory" Solo tiene 3 valores, los cuales serían X=Exotico, N=No Exotico, y Nan=Sin Información, por lo tanto podemos hacerles un cat.code

In [64]:
#quiero hacer la columna exoticCategory en una columna categorica
df["exoticCategory"] = df["exoticCategory"].astype("category")
df["exoticCategory"] = df["exoticCategory"].cat.codes
#exotico = 1, no exotico = 0, no se sabe = -1

 Como "obsReviewd" son en su mayoria falsos, dejaremos solos los True de la columna "obsReviewed", luego eliminaremos esta columna

In [65]:
df['obsReviewed'].unique()

array([False,  True])

Verificaremos que todas las observaciones sean validas, luego eliminaremos esta columna

In [66]:
df['obsValid'].unique()

array([ True])

Eliminaremos la columnas "errors" ya que no nos aporta informacion, lo mismo con la columna sub Id

In [67]:
df["errors"].unique()

array([nan])

In [68]:
df.dtypes

speciesCode         object
comName             object
sciName             object
locId               object
locName             object
obsDt               object
howMany            float64
lat                float64
lng                float64
obsValid              bool
obsReviewed           bool
locationPrivate       bool
subId               object
exoticCategory        int8
errors             float64
region              object
dtype: object

In [69]:
df

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory,errors,region
0,whshil1,White-sided Hillstar,Oreotrochilus leucopleurus,L3247303,phm,2015-01-01 20:30,1.0,-31.784164,-70.536299,True,False,True,S21135098,-1,NaN,Coquimbo
1,bkbsht1,Black-billed Shrike-Tyrant,Agriornis montanus,L3247303,phm,2015-01-01 20:30,1.0,-31.784164,-70.536299,True,False,True,S21135098,-1,NaN,Coquimbo
2,yersis1,Yellow-rumped Siskin,Spinus uropygialis,L3247303,phm,2015-01-01 20:30,2.0,-31.784164,-70.536299,True,False,True,S21135098,-1,NaN,Coquimbo
3,gyhsif1,Gray-hooded Sierra Finch,Phrygilus gayi,L3247303,phm,2015-01-01 20:30,3.0,-31.784164,-70.536299,True,False,True,S21135098,-1,NaN,Coquimbo
4,yebpin1,Yellow-billed Pintail,Anas georgica,L2973546,Desembocadura del estero culebron,2015-01-01 19:40,3.0,-29.959684,-71.321301,True,False,True,S21127799,-1,NaN,Coquimbo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43829,rutpla1,Rufous-tailed Plantcutter,Phytotoma rara,L5273073,Guardaria Grey,2015-12-31 05:00,1.0,-51.124509,-73.130450,True,False,True,S33755568,-1,NaN,Magallanes
43830,wbgtyr1,White-browed Ground-Tyrant,Muscisaxicola albilora,L5273073,Guardaria Grey,2015-12-31 05:00,1.0,-51.124509,-73.130450,True,False,True,S33755568,-1,NaN,Magallanes
43831,giahum1,Giant Hummingbird,Patagona gigas,L504553,SN Humedal Río Maipo--Desembocadura,2015-12-31,1.0,-33.619801,-71.627544,True,False,False,S30489062,-1,NaN,Valparaíso
43832,sctear1,Scale-throated Earthcreeper,Upucerthia dumetaria,L1030752,Pampa Larga,2015-12-31,1.0,-52.267947,-69.732113,True,False,False,S129511082,-1,NaN,Magallanes
43833,chvtyr2,Chocolate-vented Tyrant,Neoxolmis rufiventris,L1030752,Pampa Larga,2015-12-31,2.0,-52.267947,-69.732113,True,False,False,S129511082,-1,NaN,Magallanes

In [70]:
def df_clean(df):
    #Hacemos que la columna exoticCategory sea categorica
    df["exoticCategory"] = df["exoticCategory"].astype("category")
    df["exoticCategory"] = df["exoticCategory"].cat.codes
    
    #Observaciones Validas
    # df = df[df["obsValid"] == True]

    #Observaciones Revisadas
    # df = df[df["obsReviewed"] == True]

    #Eliminamos las columnas
    df = df.drop(columns = ["obsReviewed", "obsValid", "errors", "subId"])

    #en la columna howMany reemplazamos lo NaN por 0
    df["howMany"] = df["howMany"].fillna(0)

    #la columna obsDt la convertimos en datetime
    df["obsDt"] = pd.to_datetime(df["obsDt"], errors='coerce')
    df["obsDt"] = df["obsDt"].dt.strftime('%Y-%m-%d 00:00')
    df["obsDt"] = pd.to_datetime(df["obsDt"])

    #Borramos los nan
    df.dropna(inplace =True)

    return df

Lo aplicamos por cada año, y guardamos

In [71]:
for year in range(2015,2023):
    df = pd.read_csv(f"../raw/Aves/Avistamientos_y_region/vis_{year}.csv")
    df = df_clean(df)
    #guardamos el archivo
    df.to_csv(f"vis_{year}.csv", index = False)

In [72]:
df_ejemplo = pd.read_csv("vis_2015.csv")
df_ejemplo['obsDt']

0        2015-01-01
1        2015-01-01
2        2015-01-01
3        2015-01-01
4        2015-01-01
            ...
42869    2015-12-31
42870    2015-12-31
42871    2015-12-31
42872    2015-12-31
42873    2015-12-31
Name: obsDt, Length: 42874, dtype: object