## En este jupyter se extrajo la taxonomía de las aves de Chile

In [14]:
import pandas as pd
import requests

In [15]:
key = "otqvshn22qrt"
regionCode = "CL"

url = f"https://api.ebird.org/v2/ref/taxonomy/ebird"

payload={}
headers = {
  'X-eBirdApiToken': key
}
response = requests.request("GET", url, headers=headers, data=payload)

In [16]:
text = response.text

In [17]:
a = text.split("\n")
headers = a[0].split(",")
body = a[1:]

In [18]:
body_aux = []
for i in range(len(body)):
    body[i] = body[i].split(",")
    if len(body[i]) == 15:
        body_aux.append(body[i])
body = body_aux

In [19]:
df = pd.DataFrame(body, columns=headers)

In [20]:
df

,SCIENTIFIC_NAME,COMMON_NAME,SPECIES_CODE,CATEGORY,TAXON_ORDER,COM_NAME_CODES,SCI_NAME_CODES,BANDING_CODES,ORDER,FAMILY_COM_NAME,FAMILY_SCI_NAME,REPORT_AS,EXTINCT,EXTINCT_YEAR,FAMILY_CODE
0,Struthio camelus,Common Ostrich,ostric2,species,2.0,COOS,STCA,,Struthioniformes,Ostriches,Struthionidae,,,,struth1
1,Struthio molybdophanes,Somali Ostrich,ostric3,species,7.0,SOOS,STMO,,Struthioniformes,Ostriches,Struthionidae,,,,struth1
2,Struthio camelus/molybdophanes,Common/Somali Ostrich,y00934,slash,8.0,SOOS COOS,STCA STMO,,Struthioniformes,Ostriches,Struthionidae,,,,struth1
3,Rhea americana,Greater Rhea,grerhe1,species,10.0,GRRH,RHAM,,Rheiformes,Rheas,Rheidae,,,,rheida1
4,Rhea pennata,Lesser Rhea,lesrhe2,species,16.0,LERH,RHPE,,Rheiformes,Rheas,Rheidae,,,,rheida1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14030,Saltator fuliginosus,Black-throated Grosbeak,bltgro2,species,35289.0,BTGR,SAFU,,Passeriformes,Tanagers and Allies,Thraupidae,,,,thraup2
14031,Saltator sp.,saltator sp.,saltat1,spuh,35290.0,,,,Passeriformes,Tanagers and Allies,Thraupidae,,,,thraup2
14032,Thraupidae sp.,Thraupidae sp.,thraup3,spuh,35291.0,,,,Passeriformes,Tanagers and Allies,Thraupidae,,,,thraup2
14033,Passeriformes sp.,passerine sp.,passer1,spuh,35292.0,,,,Passeriformes,,,,,,
14034,Aves sp.,bird sp.,bird1,spuh,35293.0,,,UNBI,,,,,,,

In [21]:
df.to_csv("taxonomia.csv", index=False)

In [22]:
df = pd.read_csv("taxonomia.csv")
df

,SCIENTIFIC_NAME,COMMON_NAME,SPECIES_CODE,CATEGORY,TAXON_ORDER,COM_NAME_CODES,SCI_NAME_CODES,BANDING_CODES,ORDER,FAMILY_COM_NAME,FAMILY_SCI_NAME,REPORT_AS,EXTINCT,EXTINCT_YEAR,FAMILY_CODE
0,Struthio camelus,Common Ostrich,ostric2,species,2.0,COOS,STCA,NaN,Struthioniformes,Ostriches,Struthionidae,NaN,NaN,NaN,struth1
1,Struthio molybdophanes,Somali Ostrich,ostric3,species,7.0,SOOS,STMO,NaN,Struthioniformes,Ostriches,Struthionidae,NaN,NaN,NaN,struth1
2,Struthio camelus/molybdophanes,Common/Somali Ostrich,y00934,slash,8.0,SOOS COOS,STCA STMO,NaN,Struthioniformes,Ostriches,Struthionidae,NaN,NaN,NaN,struth1
3,Rhea americana,Greater Rhea,grerhe1,species,10.0,GRRH,RHAM,NaN,Rheiformes,Rheas,Rheidae,NaN,NaN,NaN,rheida1
4,Rhea pennata,Lesser Rhea,lesrhe2,species,16.0,LERH,RHPE,NaN,Rheiformes,Rheas,Rheidae,NaN,NaN,NaN,rheida1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14030,Saltator fuliginosus,Black-throated Grosbeak,bltgro2,species,35289.0,BTGR,SAFU,NaN,Passeriformes,Tanagers and Allies,Thraupidae,NaN,NaN,NaN,thraup2
14031,Saltator sp.,saltator sp.,saltat1,spuh,35290.0,NaN,NaN,NaN,Passeriformes,Tanagers and Allies,Thraupidae,NaN,NaN,NaN,thraup2
14032,Thraupidae sp.,Thraupidae sp.,thraup3,spuh,35291.0,NaN,NaN,NaN,Passeriformes,Tanagers and Allies,Thraupidae,NaN,NaN,NaN,thraup2
14033,Passeriformes sp.,passerine sp.,passer1,spuh,35292.0,NaN,NaN,NaN,Passeriformes,NaN,NaN,NaN,NaN,NaN,NaN
14034,Aves sp.,bird sp.,bird1,spuh,35293.0,NaN,NaN,UNBI,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
len(df[df["EXTINCT_YEAR"] >= 2015])

0

Como no hay aves extintas luego de 2015, eliminamos esta columna, junto a EXTINCT y otras que no son de relevancia

In [24]:
df = df[~(df["EXTINCT"] == True)]
df.drop(columns=["EXTINCT", "EXTINCT_YEAR", "COM_NAME_CODES", "SCI_NAME_CODES", "BANDING_CODES", 'REPORT_AS'], inplace=True)
df

C:\Users\matar\AppData\Local\Temp\ipykernel_14932\1673673150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["EXTINCT", "EXTINCT_YEAR", "COM_NAME_CODES", "SCI_NAME_CODES", "BANDING_CODES", 'REPORT_AS'], inplace=True)

,SCIENTIFIC_NAME,COMMON_NAME,SPECIES_CODE,CATEGORY,TAXON_ORDER,ORDER,FAMILY_COM_NAME,FAMILY_SCI_NAME,FAMILY_CODE
0,Struthio camelus,Common Ostrich,ostric2,species,2.0,Struthioniformes,Ostriches,Struthionidae,struth1
1,Struthio molybdophanes,Somali Ostrich,ostric3,species,7.0,Struthioniformes,Ostriches,Struthionidae,struth1
2,Struthio camelus/molybdophanes,Common/Somali Ostrich,y00934,slash,8.0,Struthioniformes,Ostriches,Struthionidae,struth1
3,Rhea americana,Greater Rhea,grerhe1,species,10.0,Rheiformes,Rheas,Rheidae,rheida1
4,Rhea pennata,Lesser Rhea,lesrhe2,species,16.0,Rheiformes,Rheas,Rheidae,rheida1
...,...,...,...,...,...,...,...,...,...
14030,Saltator fuliginosus,Black-throated Grosbeak,bltgro2,species,35289.0,Passeriformes,Tanagers and Allies,Thraupidae,thraup2
14031,Saltator sp.,saltator sp.,saltat1,spuh,35290.0,Passeriformes,Tanagers and Allies,Thraupidae,thraup2
14032,Thraupidae sp.,Thraupidae sp.,thraup3,spuh,35291.0,Passeriformes,Tanagers and Allies,Thraupidae,thraup2
14033,Passeriformes sp.,passerine sp.,passer1,spuh,35292.0,Passeriformes,NaN,NaN,NaN
14034,Aves sp.,bird sp.,bird1,spuh,35293.0,NaN,NaN,NaN,NaN

In [25]:
df.dropna(inplace=True)

C:\Users\matar\AppData\Local\Temp\ipykernel_14932\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [26]:
df.to_csv("../../../data/taxonomia/taxonomia.csv", index=False)